extends layout

block content

    include ./modals/notify

    .panel.panel-default
        .panel-heading
            .dropdown
                button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="true")
                    | Manage test configuration
                    span.caret

                ul.dropdown-menu
                    -each config, i in session.user.config
                        if (configIndex == i)
                            li.active
                                a(href="/selectConfig/#{i}") Config#{i+1}
                        else
                            li
                                a(href="/selectConfig/#{i}") Config#{i + 1}
                    li.divider(role="separator")
                    li(role="presentation")
                        a(href="/addConfig") Add config

            p.label-info
                | #{session.user.config[configIndex].status}
        .panel-body
            .col-xs-10.col-xs-offset-1
                #main_configuration_container
                    form(action='/save',method='post')
                        p Config description
                        .input-group.col-xs-12
                            textarea(name='description', class="form-control")
                                |#{session.user.config[configIndex].description}

                        a.input-group.btn.btn-primary(role='button', data-toggle='collapse', href='#collapseRepo', aria-expanded='false', aria-controls='collapseExample')
                            | Select test suit
                        #collapseRepo.collapse
                            .well
                                div.list-group(data-toggle="buttons")
                                    -each repo, i in repoList

                                        -if (session.user.config[configIndex].repo == i)
                                            label.btn.btn-primary.active
                                                input(type='radio', id='repo#{i}', name='repo', autocomplete='off', checked='', value='#{i}')
                                                |  #{repo}
                                        -else
                                            label.btn.btn-primary
                                                input(type='radio', id='repo#{i}', name='repo', autocomplete='off' value='#{i}')
                                                |  #{repo}

                        p Branch name
                        .input-group
                            input(name='branch', class="form-control", value='#{session.user.config[configIndex].branch}')

                        p Commit name
                        .input-group
                            input(name='commit', class="form-control", value='#{session.user.config[configIndex].commit}')

                        a.input-group.btn.btn-primary(role='button', data-toggle='collapse', href='#collapseTestSuit', aria-expanded='false', aria-controls='collapseExample')
                            | Select test suit
                        #collapseTestSuit.collapse
                            .well
                                div.list-group(data-toggle="buttons")
                                    -each test, i in testSuits
                                        -if (session.user.config[configIndex].tests.indexOf(test._id.toString()) != -1)
                                            label.btn.btn-default.list-group-item.active
                                                input(type='checkbox', id='test#{i}', name='tests', autocomplete='off', value='#{test._id}', checked='')
                                                |  #{test.testSuite}
                                        -else
                                            label.btn.btn-default.list-group-item
                                                input(type='checkbox', id='test#{i}', name='tests', autocomplete='off', value='#{test._id}')
                                                |  #{test.testSuite}

                        a.input-group.btn.btn-primary(role='button', data-toggle='collapse', href='#collapseConfig', aria-expanded='false', aria-controls='collapseExample')
                            | Edit config lua
                        #collapseConfig.collapse
                            .well
                                #editor
                                    script(src='javascripts/lib/src-min/ace.js', type='text/javascript', charset='utf-8')
                                    script.
                                        var tar = !{JSON.stringify(session.user.config[configIndex].configJSON)};
                                        var editor = ace.edit("editor");
                                        editor.setTheme("ace/theme/tomorrow_night_eighties");
                                        editor.getSession().setMode("ace/mode/lua");
                                        editor.getSession().setValue(tar);
                                textarea#textArea.hidden(name="editor")

                        p
                        input#saveButton.btn.btn-success(type='submit', value='Save configuration')
                input#start.btn.btn-warning(type='submit', value='Start')