extends layout

block content

    include ./modals/notify

    .panel.panel-default
        .panel-heading
            if status == "edit"
                .dropdown
                    button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="true")
                        | Manage test configuration
                        span.caret

                    ul.dropdown-menu
                        -each config, i in session.user.config
                            if (configIndex == i)
                                li.active
                                    a(href="/selectConfig/#{i}") Config#{i+1}
                            else
                                li
                                    a(href="/selectConfig/#{i}") Config#{i + 1}
                        li.divider(role="separator")
                        li(role="presentation")
                            a(href="/addConfig") Add config
            else
                | Create New user
        .panel-body
            .col-xs-10.col-xs-offset-1
                #main_configuration_container
                    form(action='/save',method='post')

                        -if (status == "register" && configIndex == 0)
                            p User name
                            .input-group(id="userName")
                                input(name='userName', class="form-control", placeholder="User name")
                                .input-group-addon
                                    span.text status
                                    .glyphicon.glyphicon-refresh.hidden

                            p User email
                            .input-group
                                input(name='email', class="form-control", placeholder="User email")

                            p User password
                            .input-group(id="password")
                                input(name='password', class="form-control", type="password", placeholder="User password")
                                .input-group-addon
                                    span.text status
                            p
                            input.btn.btn-success(type='submit', value='Register')

                        -if (status != "register")

                            p Config name
                            .input-group
                                input(name='config_name', class="form-control", value='#{session.user.config[configIndex].config_name}')

                            .dropdown
                                button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="true")
                                    | Select repo
                                    span.caret

                                ul.dropdown-menu(aria-labelledby="dropdownMenu1")
                                    -each repo in repoList
                                        li
                                            .input-group
                                                .input-group-addon
                                                    input(type="checkbox")
                                                input.form-control(type="text", value='#{repo}')

                            p Branch name
                            .input-group
                                input(name='config_name', class="form-control", value='#{session.user.config[configIndex].config_name}')

                            p Commit name
                            .input-group
                                input(name='config_name', class="form-control", value='#{session.user.config[configIndex].config_name}')

                            .testSuitDropDownList.dropdown
                                button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="true")
                                    | Select Test Suits
                                    span.caret

                                ul.dropdown-menu(aria-labelledby="dropdownMenu1")
                                    -each test in testSuits
                                        li
                                            .input-group
                                                .input-group-addon
                                                    input(type="checkbox")
                                                input.form-control(type="text", value='#{test.testSuite}')

                            .testSuitDropDownList.dropdown
                                button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="true")
                                    | Edit config
                                    span.caret
                                ul.dropdown-menu
                                    li
                                        #editor
                                        script(src='javascripts/lib/src-min/ace.js', type='text/javascript', charset='utf-8')
                                        script.
                                            var tar = !{JSON.stringify(configData)};
                                            var editor = ace.edit("editor");
                                            editor.setTheme("ace/theme/tomorrow_night_eighties");
                                            editor.getSession().setMode("ace/mode/lua");
                                            editor.getSession().setValue(tar);

                            p
                            input#saveButton.btn.btn-success(type='submit', value='Save configuration')
                            input.btn.btn-warning(type='reset', value='Reset current config')