extends layout

block content

    include ./modals/notify

    script.
        var suitsData = JSON.parse('!{JSON.stringify(suits)}');

    #test_suite_configuration_container
        .row
            .col-md-6
                .thumbnail
                    form#newTestSuiteForm(action="/addTestSuit", method="post", data-toggle="validator", role="form")
                        .row
                            .col-xs-6
                                span Create new test suit
                            .col-xs-6
                                .btn-group.input-group
                                    button#testSuitList.btn.btn-default.dropdown-toggle(data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
                                        | Suits list&nbsp;
                                        span.caret
                                    ul.dropdown-menu
                                        each suit, i in suits
                                            li
                                                a.editTestSuitListItem(name="#{suit.testSuite}", index=i) #{suit.testSuite}
                        .input-group
                            input#testSuitInput.form-control(name='testSuit' ,type='text', aria-label='...', required)
                            span.input-group-addon Name

                        .input-group
                            textarea#testSuiteDescription.form-control.vresize(name="testSuiteDescription", required)
                            span.input-group-addon Description

                        .input-group.col-md-12
                            .col-md-6
                                button#addNewTestSuit.btn.btn-success.center-block(type='submit') Create
                            .col-md-6
                                button#editTestSuit.btn.btn-warning.center-block(type='submit') Edit
                    //.thumbnail
                    #fileListEdit.list-group
                        a.list-group-item.active Files list
                        #fileList
            .col-md-6
                .thumbnail
                    p Upload script data
                    h3
                        span#uploadTestSuiteSelectLabel.label.label-danger.label-lg Choose test suite first

                    form#uploadForm.uploadForm(action="/upload", method="post", enctype="multipart/form-data")
                        .list-group
                            .btn-group
                                button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                    | Test Suit
                                    span.badge #{suits.length}
                                    span.caret
                                ul.dropdown-menu
                                    each suit, i in suits
                                        li
                                            a.uploadTestSuitListItem(name="#{suit.testSuite}", index=i) #{suit.testSuite}
                        .list-group
                            span.btn.btn-primary.btn-file.disabled Add *.lua scripts
                                input.btn.btn-default(type="file", name="lua_upload", multiple, disabled, accept=".lua")
                        .list-group
                            span.btn.btn-primary.btn-file.disabled Add additional files (icons, etc)
                                input.btn.btn-default(type="file", name="other_upload", disabled, multiple)
                        .list-group
                            span.btn.btn-primary.btn-file.disabled Add files to user_modules
                                input.btn.btn-default(type="file", name="modules_upload", disabled, multiple)
                        input#uploadUpdateTest.btn.btn-success.disabled.center-block(type='submit', name="upload", value="Update test suite")
                        input#uploadTestSuiteSelectInput.hidden(name='testSuiteName')