extends layout

block content

    include ./modals/notify

    #colorScheme.btn.btn-default Change Color

    script.
        var suitsData = JSON.parse('!{JSON.stringify(suits)}');

    #test_suite_configuration_container
        .row
            .col-xs-6
                .thumbnail
                    p Upload script data

                    form#uploadForm.uploadForm(action="/upload", method="post", enctype="multipart/form-data")
                        .list-group
                            .btn-group
                                button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                    | Test Suit
                                    span.badge #{suits.length}
                                    span.caret
                                ul.dropdown-menu
                                    each suit, i in suits
                                        li
                                            a.uploadTestSuitListItem(name="#{suit.testSuite}", index=i) #{suit.testSuite}
                        .list-group
                            span.btn.btn-primary.btn-file.disabled Add *.lua scripts
                                input.btn.btn-default(type="file", name="lua_upload", multiple, disabled, accept=".lua")
                        .list-group
                            span.btn.btn-primary.btn-file.disabled Add additional files (icons, etc)
                                input.btn.btn-default(type="file", name="other_upload", disabled, multiple)
                        .list-group
                            span.btn.btn-primary.btn-file.disabled Add files to user_modules
                                input.btn.btn-default(type="file", name="modules_upload", disabled, multiple)
                        input#uploadUpdateTest.btn.btn-success.disabled(type='submit', name="upload", value="Update test suite")
                        span#uploadTestSuiteSelectLabel.label.label-danger Choose test suite first
                        input#uploadTestSuiteSelectInput.hidden(name='testSuiteName')
            .col-xs-6
                .thumbnail
                    form#newTestSuiteForm(action="/addTestSuit", method="post")
                        .row
                            .col-xs-6
                                span Create new test suit
                            .col-xs-6
                                .btn-group
                                    button#editTestSuit.btn.btn-warning.disabled(disabled) Edit
                                    button.btn.btn-warning.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                        span.caret
                                        span.sr-only
                                    ul.dropdown-menu
                                        each suit, i in suits
                                            li
                                                a.editTestSuitListItem(name="#{suit.testSuite}", index=i) #{suit.testSuite}
                        .input-group
                            input#testSuitInput.form-control(name='testSuit' ,type='text', aria-label='...')
                            span.input-group-addon Name

                        .input-group
                            textarea#testSuiteDescription.form-control.vresize(name="testSuiteDescription")
                            span.input-group-addon Description

                        button#addNewTestSuit.btn.btn-primary(type='submit') Add New
                    //.thumbnail
                    #fileListEdit.list-group
                        a.list-group-item.active Files list
                        #fileList
